.btn
{
    padding: 6px 20px;
    background: #336b87;
    color: #fff;
    border: none;
    font-size: 13px !important;
    vertical-align: middle;
    cursor: pointer;
}
.btn:disabled { background-color: #555; }
.btn:hover
{
    background: #4891b7;
}

div#fade { /*--Transparent background layer--*/
    display: none; /*--hidden by default--*/
    background: #000;
    position: fixed; left: 0; top: 0;
    width: 100%; height: 100%;
    opacity:0.2; -khtml-opacity:0.2; filter:alpha(opacity=20);
    z-index: 1000;
}

div#info_progress {
    display: none;
    z-index: 1010;
    background: #FFF;
    border: 1px solid #CCC;
    padding: 7px 10px;
}
div#info_progress > img { vertical-align: middle; }